<%- include("partials/header.ejs")%>

<form action="/create" method="post">
  <input type="hidden" name="author" value="<%= username %>" />
  <input type="hidden" name="id" value="<%= id %>" />
  <input type="hidden" name="date" value="<%= date %>"
  <label for="title">Enter post title:</label>
  <br>
  <input type="text" name="title" maxlength="30" required/>
  <br>
  <label for="desc">
    Enter short description for your post
  </label>
  <br>
  <input type="text" name="desc" maxlength="80" />
  <br>
  <label for="content">Enter your content here</label>
  <br>
  <textarea name="content" cols="30" rows="10"></textarea>
  <br>
  <button type="submit">Create post!</button>
</form>

<%- include("partials/footer.ejs")%>
