<%- include("partials/header.ejs") %>

<h1><%= post.title %></h1>
<% if (locals.username === post.author ){%>
  <a href="/posts/<%= post.id %>/edit"><button class="btn btn-outline-primary">Edit post</button></a>
<% } %>
<span><%= post.date %></span>
<p>Author: <span class="fw-bold"><%= post.author %></span></p>
<article><%- post.content %></article>

<%- include("partials/footer.ejs") %>
